<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @transaction.transaction_id %>
</p>

<p>
  <strong>Plaid account:</strong>
  <%= @transaction.plaid_account_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category %>
</p>

<p>
  <strong>Plaid category:</strong>
  <%= @transaction.plaid_category_id %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Date of transaction:</strong>
  <%= @transaction.date_of_transaction %>
</p>

<p>
  <strong>Pending:</strong>
  <%= @transaction.pending %>
</p>

<p>
  <strong>Location address:</strong>
  <%= @transaction.location_address %>
</p>

<p>
  <strong>Location city:</strong>
  <%= @transaction.location_city %>
</p>

<p>
  <strong>Location state:</strong>
  <%= @transaction.location_state %>
</p>

<p>
  <strong>Location zip:</strong>
  <%= @transaction.location_zip %>
</p>

<p>
  <strong>Location lat:</strong>
  <%= @transaction.location_lat %>
</p>

<p>
  <strong>Location lon:</strong>
  <%= @transaction.location_lon %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
