<!DOCTYPE html>
<html>
  <head>
    <title>KnowYourSpending</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <main class="w-100 border-box ph5-l ph4-m ph3">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
